<% @assignments.where({user_id: session[:user_id]}).each do |assignment|%>
    
        <div class="col-xs-6">
            <div class="card">
                <section>
                    <% if assignment[:title].blank?%>
                        <h5 class="card-title">No Title</h5>
                    <% else %>
                        <h5 class="card-title"> <%= assignment[:title]%> </h5>                
                    <% end %>

                    <% if (assignment[:child_id].blank? ) %>
                    <p class="card-text"><b>Child: </b>n/a</p>
                    <% else %>
                        <p class="card-text"><b>Child: </b><%= Child.where(id: assignment[:child_id])[0].child_name%></p>
                    <%end%>

                    <% if (assignment[:due_date].blank? ) %>
                        <p class="card-text"><b>Due Date: </b><br>n/a</p>
                    <% else %>
                        <p class="card-text"><b>Due Date:</b><br> <%= assignment[:due_date].strftime( '%m/%d/%Y' ) %> </p>
                    <%end%>

                    <%= link_to (image_tag assignment.avatar.url(:sm), class: "img-fluid"), assignment_path(assignment) %>
                </section>                
            </div>
        </div>
    
<% end %>