<% @artworks.where({user_id: session[:user_id]}).each do |artwork|%>
    
        <div class="col-xs-6">
            <div class="card">
                <section>
                    <% if artwork[:title].blank?%>
                        <h5 class="card-title">No Title</h5>                
                    <% else %>
                        <h5 class="card-title"><%= artwork[:title]%></h5>
                    <% end %>

                    <% if (artwork[:child_id].blank? ) %>
                    <p class="card-text"><b>Child: </b>n/a</p>
                    <% else %>
                        <p class="card-text"><b>Child: </b><%= Child.where(id: artwork[:child_id])[0].child_name%></p>
                    <%end%>

                    <% if (artwork[:date].blank? ) %>
                        <p class="card-text"><b>Date: </b>n/a</p>
                    <% else %>
                        <p class="card-text"><b>Date:</b> <%= artwork[:date].strftime( '%m/%d/%Y' ) %> </p>
                    <%end%>

                    <%= link_to (image_tag artwork.avatar.url(:sm), class: "img-fluid"), artwork_path(artwork) %>
                </section>
            </div>
        </div>
    
<% end %>