<div class="container center">
  <div class="row justify-content-center">
    <div class="col-md-8">
    <header>
        <h2 class="main-h2">User Profile</h2>
    </header>
        
        <p><b>User Name:</b> <%= @user.user_name %></p>
        <p><b>Email:</b> <%= @user.email %></p>
        <div>
            <%= link_to 'Edit User Name', edit_user_path, class: "btn btn-primary btn-block" %>
            <%= link_to 'Home', root_path, class: "btn btn-secondary btn-block" %>
        </div>
    </div>
  </div>
</div>