<div class="container center">
  <div class="row justify-content-center">
    <div class="col-md-8">
    
    <header>
        <h2 class="main-h2">User Profile</h2>
    </header>
        
        <p><b>User Name:</b> <%= @user.user_name %></p>
        <p><b>Email:</b> <%= @user.email %></p>
        <div class="btn-group block" role="group" aria-label="...">
            <%= link_to 'Edit User Name', edit_user_path, class: "btn btn-secondary" %>
            <%= link_to 'Home', root_path, class: "btn btn-outline-secondary" %>
        </div>
    </div>
  </div>
</div>