<h1>You've recieved an Assignment from Kid Stuff!</h1>
  <h2><%= @title %></h2>
  <%= @child %>
  <%= @due_date %>
  <%= @content %>
  <p>If you believe you've received this message in error, you are probably correct.</p>