.footer {
    height: 30px;

    a {
        font-size: .8em;
    }
}

.container {
    padding-bottom: 40px;
}

.btn-group.block {
    display: flex;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
  
.block .btn {
    flex: 1
}
.delete-btn {
    margin-top: 1em;
}

.main-h2 {
    margin-bottom: 0;
}

header {
    text-align: center;
}

.not-yet-message {
    margin: .75em 0 1em;
}