@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700'); //main font
@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');  //'kid' font
@import 'variables'; //variable.scss is the color pallette

body {
    font-family: 'Open Sans', sans-serif;
}

.bg-blue {
    background-color: $blue;
}

.kid-font {
    font-family: 'Walter Turncoat', cursive;
    letter-spacing: 2px;
}

.footer {
    height: 20px;

    a {
        font-size: .8em;
    }
}
// main content container - sets bottom padding to make room for footer
.container {
    padding-bottom: 40px;
}
// main title of all pages
.main-h2 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Walter Turncoat', cursive;
  letter-spacing: 2px;
  color: $green;
}

header {
  text-align: center;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    justify-content: space-between;
}

.btn-group.block {
    display: flex;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
  
.block .btn {
    flex: 1
}
.delete-btn {
    margin-top: 1em;
}

.not-yet-message {
    margin: .75em 0 1em;
}

.red {
    color: red;
}

.flash-h5 {
    margin-top: 2rem;
}

.card {
    padding: .5em;
    overflow: hidden;

    h5 {
      white-space: nowrap;
        margin-bottom: .25rem;
        text-decoration: underline;
    }

    p {
        margin-bottom: 0;
    }

    section {
      max-width: 150px;
    }
}

/////////////////////////////////////
///////////Progress Modal////////////
/////////////////////////////////////

#content {
  width: 100%;
  height: 30px;
  margin: 50px auto;
  background: lightgrey;
  position: relative;
}

.expand {
  width: 100%;
  height: 30px;
  // margin: 2px 0;
  background: $pink;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(2, 207, 19,0.4);
  -moz-animation: fullexpand 6s 0.1s ease-out;
  -webkit-animation-name: fullexpand;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-duration: 6s;
  -webkit-animation-transition-timing-function: ease-out;
}

/* Full Width Animation Bar */
@-moz-keyframes fullexpand {
  0%  { width: 0px;
}

100% {
  width: 100%;
}	
}

@-webkit-keyframes fullexpand {
  0% {
      width: 0px;
  }

  100% {
      width: 100%;
  };
}
/////////////////////////////////////////////
///////BOOTSTRAP OVERRIDES///////////////////
/////////////////////////////////////////////

.btn-dark {
    color: #fff;
    background-color: $pink;
    border-color: $pink;
  }
  
  .btn-dark:hover {
    color: #fff;
    background-color: $pink;
    border-color: $pink;
  }
  
  .btn-dark:focus, .btn-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  }
  
  .btn-dark.disabled, .btn-dark:disabled {
    background-color: $pink;
    border-color: $pink;
  }
  
  .btn-dark:not([disabled]):not(.disabled):active, .btn-dark:not([disabled]):not(.disabled).active,
  .show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: $pink;
    border-color: $pink;
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  }

  .btn-outline-dark {
    color: $pink;
    background-color: transparent;
    background-image: none;
    border-color: $pink;
  }
  
  .btn-outline-dark:hover {
    color: #fff;
    background-color: $pink;
    border-color: $pink;
  }
  
  .btn-outline-dark:focus, .btn-outline-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  }
  
  .btn-outline-dark.disabled, .btn-outline-dark:disabled {
    color: $pink;
    background-color: transparent;
  }
  
  .btn-outline-dark:not([disabled]):not(.disabled):active, .btn-outline-dark:not([disabled]):not(.disabled).active,
  .show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: $pink;
    border-color: $pink;
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  }

  .btn-secondary {
    color: #fff;
    background-color: $green;
    border-color: $green;
  }
  
  .btn-secondary:hover {
    color: #fff;
    background-color: $green;
    border-color: $green;
  }
  
  .btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
  }
  
  .btn-secondary.disabled, .btn-secondary:disabled {
    background-color: $green;
    border-color: $green;
  }
  
  .btn-secondary:not([disabled]):not(.disabled):active, .btn-secondary:not([disabled]):not(.disabled).active,
  .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: $green;
    border-color: $green;
    box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
  }

  .btn-outline-secondary {
    color: $green;
    background-color: transparent;
    background-image: none;
    border-color: $green;
  }
  
  .btn-outline-secondary:hover {
    color: #fff;
    background-color: $green;
    border-color: $green;
  }
  
  .btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
  }
  
  .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: $green;
    background-color: transparent;
  }
  
  .btn-outline-secondary:not([disabled]):not(.disabled):active, .btn-outline-secondary:not([disabled]):not(.disabled).active,
  .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: $green;
    border-color: $green;
    box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
  }

  .btn-danger {
    color: #fff;
    background-color: $red;
    border-color: $red;
  }
  
  .btn-danger:hover {
    color: #fff;
    background-color: $red;
    border-color: $red;
  }
  
  .btn-danger:focus, .btn-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  }
  
  .btn-danger.disabled, .btn-danger:disabled {
    background-color: $red;
    border-color: $red;
  }
  
  .btn-danger:not([disabled]):not(.disabled):active, .btn-danger:not([disabled]):not(.disabled).active,
  .show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: $red;
    border-color: $red;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  }

  .btn-light {
    color: #adadad;
    background-color: #f8f9fa;
    border-color: #adadad;
  }
  
  .btn-light:hover {
    color: #adadad;
    background-color: #e2e6ea;
    border-color: #adadad;
  }
  
  .btn-light:focus, .btn-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
  }
  
  .btn-light.disabled, .btn-light:disabled {
    background-color: #f8f9fa;
    border-color: #adadad;
  }
  
  .btn-light:not([disabled]):not(.disabled):active, .btn-light:not([disabled]):not(.disabled).active,
  .show > .btn-light.dropdown-toggle {
    color: #adadad;
    background-color: #dae0e5;
    border-color: #adadad;
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
  }

  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
  }
  
  .navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
  }

  .btn-primary {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    background-color: $blue;
    border-color: $blue;
  }
  
  .btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }