@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');

body {
    font-family: 'Open Sans', sans-serif;
}

.kid-font {
    font-family: 'Walter Turncoat', cursive;
    letter-spacing: 2px;
}

.footer {
    height: 30px;

    a {
        font-size: .8em;
    }
}

.container {
    padding-bottom: 40px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    justify-content: space-between;
}

.btn-group.block {
    display: flex;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
  
.block .btn {
    flex: 1
}
.delete-btn {
    margin-top: 1em;
}

.main-h2 {
    margin-bottom: .25em;
    font-family: 'Walter Turncoat', cursive;
    letter-spacing: 2px;
}

header {
    text-align: center;
}

.not-yet-message {
    margin: .75em 0 1em;
}

.red {
    color: red;
}

.flash-h5 {
    margin-top: 2rem;
}

.card {
    padding: .5em;

    h5 {
        margin-bottom: .25rem;
        text-decoration: underline;
    }

    p {
        margin-bottom: 0;
    }
}
