// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button-container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home-btn {
    height: 125px;
}

.button-container-2 {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}