//color pallette 1
// $blue: #39b1c6;
// $green: #52d21f;
// $pink: #ec3fac;
// $red: #ff0000;
//color pallette 2
// $blue: #78C0A8;
// $green: #5E412F;
// $pink: #F0A830;
// $red: #ff0000;
//color pallette 3
// $blue: #2FFE08;
// $green: #0885FE;
// $pink: #FE08D8;
// $red: #ff0000;
//color pallette 4
$blue: #024EFF;
$green: rgb(2, 207, 19);
$pink: rgb(212, 3, 90);
$red: #ff0000;
